{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<h1>ご利用ガイド</h1>
              <div class="guide__list">
                <div>
                  <h3>注文の流れ</h3>
                  <ul>
                    <li><a href="/user_data/flow#anchor01">商品を探す</a></li>
                    <li><a href="/user_data/flow#anchor02">商品を選択</a></li>
                    <li><a href="/user_data/flow#anchor03">カートに入れる</a></li>
                    <li><a href="/user_data/flow#anchor04">注文手続き</a></li>
                    <li><a href="/user_data/flow#anchor05">注文内容の確認</a></li>
                    <li><a href="/user_data/flow#anchor06">注文完了</a></li>
                  </ul>
                </div>
                <div>
                  <h3>会員登録について</h3>
                  <ul>
                    <li><a href="/user_data/register#anchor01">会員登録</a></li>
                    <li><a href="/user_data/register#anchor02">会員情報編集</a></li>
                    <li><a href="/user_data/register#anchor03">ポイントついて</a></li>
                    <li><a href="/user_data/register#anchor04">パスワードを忘れてしまった場合</a></li>
                    <li><a href="/user_data/register#anchor05">退会手続き</a></li>
                  </ul>
                </div>
                <div>
                  <h3>支払方法について</h3>
                  <ul>
                    <li><a href="/user_data/payment#anchor01">決済方法</a></li>
                    <li><a href="/user_data/payment#anchor02">クーポン・ポイントのご利用</a></li>
                    <li><a href="/user_data/payment#anchor03">領収書について\</a></li>
                  </ul>
                </div>
                <div>
                  <h3>送料・配送について</h3>
                  <ul>
                    <li><a href="/user_data/shipping#anchor01">送料について</a></li>
                    <li><a href="/user_data/shipping#anchor02">商品のお届けについて</a></li>
                  </ul>
                </div>
                <div>
                  <h3>注文のキャンセル、返品、交換</h3>
                  <ul>
                    <li><a href="/user_data/return#anchor01">返品・交換</a></li>
                    <li><a href="/user_data/return#anchor02">ご返金方法について</a></li>
                  </ul>
                </div>
                <div>
                  <h3>レビューについて</h3>
                  <ul>
                    <li><a href="">レビュー評価</a></li>
                  </ul>
                </div>
              </div>
{% endblock %}