{% extends 'default_frame.twig' %}

{% set container_class = 'id-term' %}

{% block main %}
    <h1>ＴＨＥ　ＡＬＬ　ID規約</h1>
    <div class="term-item">
        <p><b>第1条（規約の適用）</b></p>
        <ol>
            <li>ＴＨＥ　ＡＬＬID規約（以下「本規約」といいます）は、株式会社ジ・オール（以下「当社」といいます）または当社が提携する企業が提供する各種サービスのうち当社が指定するサービス（以下「本サービス」といいます。なお、現在の本サービスの対象は当社指定のページをご確認ください。）を利用する利用者（以下「利用者」といいます）およびID保有者（次条で定義するものとします）に対して適用されます。</li>
            <li>本規約の内容は、ID保有者への事前の通知なしに必要に応じて変更することがありますので、本サービスをご利用の際には本サービス上に掲載されている最新の本規約をご確認下さい。</li>
            <li>当社が前項に基づき本規約の内容変更を行った後、ID保有者が本サービスを利用した場合、当該ID保有者が本規約の変更を承諾したものとみなすものとします。</li>
            <li>当社が本サービス上に掲載する諸注意等（以下｢諸注意等｣といいます）が存在する場合、諸注意等は本規約の一部を構成するものとします。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第2条（ID保有者）</b></p>
        <ol>
            <li>ID保有者（以下「ID保有者」といいます）とは、本サービス上で当社の定める必要な情報を登録し、当社により当社独自のID（以下「ＴＨＥ　ＡＬＬID」といいます）の利用につき承認を受けた者をいいます（当該情報登録より当該承認までの手続きを、以下「ID登録」といいます）。ID登録後、ID保有者は本サービスにおけるID保有者向けサービス（以下「対象サービス」といいます）を利用できるものとします。</li>
            <li>利用者は、ID登録した時点で、本規約の内容に同意したものとみなされます。不承諾の意思表示は、ID登録をしないことをもってのみ認められるものとします。</li>
            <li>利用者は、ID登録に際して、以下の条件をお守り下さい。
                <ul>
                    <li>1) 本サービス上のID保有者登録専用ページの入力欄に、利用者ご自身に関する真実かつ正確なデータを入力し、ID登録を行って下さい。代理による登録は一切認めていません。</li>
                    <li>2) ID登録時にメールアドレスを登録する際は、ID保有者ご自身の保有するメールアドレスをご登録下さい。他人のメールアドレスでのご登録はお断りします。会社や学校、ご家族等、複数の人によってメールアドレスを共用されている場合においては、当該共有者の総意で当該ID保有者に当該メールアドレスでのID登録を認める場合に限り、当該メールアドレスでのID登録を認めるものとします。ただし、この場合も、対象サービスの利用については登録者ご自身に限定するものとします。</li>
                    <li>3) (1)の入力事項に変更があった場合、ID保有者は速やかに登録内容の変更を行って下さい。</li>
                    <li>4) 1人の利用者による複数のＴＨＥ　ＡＬＬIDの登録および/または保有は認めていません。</li>
                </ul>
            </li>
            <li>ID保有者は対象サービスを利用するにあたり、ID登録時に登録したメールアドレスおよびパスワード等を入力するものとし、当社は、メールアドレスおよびパスワード等を利用して行われた行為を、当該入力のあったメールアドレスおよびパスワード等と当社に登録されたメールアドレスおよびパスワード等が一致するID保有者による利用とみなすものとします。万一、盗用・不正利用その他の事情によりID保有者のＴＨＥ　ＡＬＬIDをID保有者以外の第三者が利用している場合であっても、当該行為による責任は、当社に故意または重大な過失がない限り、当該メールアドレスおよびパスワード等についてID登録情報上一致するID保有者が負うものとします。</li>
            <li>当社は、下記の場合、ID保有者への事前通知を行うことなく当該ID保有者への対象サービスの全部または一部の利用停止・終了、登録IDの抹消、登録メールアドレスの削除、ポイント（次条で定義するものとします）の全部または一部の抹消ならびにID保有者資格の剥奪、損害賠償請求等の必要な対応（法的措置を含みますが、これに限りません）を行うことがあります。なお、当該対応の結果、ID保有者に損害や不利益が生じた場合でも、当社は一切の責任を負わないものとします。
                <ul>
                    <li>1) ID保有者が、有効なポイントを保有していない場合であって、かつ直近の３年間、当該ID保有者のＴＨＥ　ＡＬＬIDでの利用（ログイン）実績がない場合であって、かつ当社からの電子メールによる各種連絡がエラーで送付できない状態にある場合または受信メール設定が全て「受け取らない」を選択している場合</li>
                    <li>2) ID保有者が本規約または本サービスの利用時に提示されるサービスごとの利用規約や諸注意等（総称して、以下「サービス利用規約」といいます）に違反すると当社が判断する場合またはそのおそれがあると当社が判断する場合</li>
                    <li>3) ID保有者が、当社が対象サービスの運営上不適当と判断する行為を行った場合</li>
                </ul>
            </li>
            <li>ID保有者は、自己が本サービスを利用する場合、サービス利用規約を確認し、同意した上で、当該サービスを利用するものとします。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第3条（ポイントサービス）</b></p>
        <ol>
            <li>当社は、対象サービスの一環として、本サービスのうち当社が指定するサービスにおいて、当社所定の方法に従った利用行為（以下「ポイント付与対象取引」といいます）を行ったID保有者に対し当社所定の条件（以下「ポイント付与条件」といいます）に従いポイントを発行し、ID保有者がポイントを本サービスのうち当社が指定するサービスにおける当社所定の利用行為（以下「ポイント利用対象取引」といいます）を行うにあたり、当社所定の方法（以下「ポイント利用条件」といいます）に従い利用できるポイントサービスおよびこれらに付随するメール配信その他の各種情報提供サービス（以下「本ポイントサービス」といいます）を運営するものとします。</li>
            <li>ポイントの種類、ポイント付与対象取引、ポイント付与条件、ポイント利用対象取引、ポイント利用条件等の本ポイントサービスの内容（総称して、以下「ポイント条件」といいます）は、当社が自己の判断で当社指定のページで定めるものとします。</li>
            <li>前項にかかわらず、当社はポイントを当社指定のページに記載される内容と異なるポイント条件で発行する場合があるものとし、この場合、ポイントの発行時にポイント条件を明示するものとします。なお、当社指定のページに記載される内容とID保有者に対し発行時に明示するポイント条件が異なる場合には、ID保有者に対し発行時に明示するポイント条件が優先するものとします。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第4条（ポイントの付与）</b></p>
        <ol>
            <li>当社は、ポイント付与対象取引を行ったID保有者に対し、ポイント付与条件に従いポイントを付与するものとします。</li>
            <li>ID保有者は、前項に基づき付与されたポイント数に疑義のある場合、自己が本サービス上でポイント付与対象取引の対象となるサービス・商品等の提供を受けた企業や店舗等（以下「本ポイント付与対象取引サービス提供企業」といいます）に直接問い合わせるものとします。ID保有者は、当該疑義についてID保有者と本ポイント付与対象取引サービス提供企業との間で解決するものとします。当社は、自己の故意や重過失によりID保有者に付与するポイント数を誤った場合を除き、一切の責任を負わないものとします。</li>
            <li>本条第１項および前条第３項に従い当社がID保有者に対しポイントを付与した後でも、ID保有者の本規約違反やその他当社がポイントを付与することが不適切であると判断する事情が判明した場合、またはポイント付与対象取引が変更された場合等には、当社は当該ID保有者に対して付与済みのポイントの全部または一部を取消すことができるものとします。</li>
            <li>当社が前項に基づき、ポイントの取消を行おうとする際に、ID保有者がすでに取消の対象となるポイントを利用している等の理由により取消可能なポイントが存在しない場合または不足する場合、当社はID保有者に対し、前項に基づき取消対象となるポイントのうち取消を行うことができなかったポイント相当額（１ポイント＝１円で換算するものとします）の金銭を請求することができるものとします。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第5条（ポイントの利用）</b></p>
        <ol>
            <li>ID保有者は、自己が保有するポイントを、ポイント利用条件に従いポイント利用対象取引の全部または一部の支払いに利用できるものとします。（ID保有者が保有するポイントを利用した企業や店舗等を以下「本ポイント利用先企業」といいます）</li>
            <li>ID保有者が、前項に基づきポイントの利用申請を当社に対して行った後に、当該利用が取り消された場合、もしくはポイント利用時に支払いに利用するポイント数が減少した場合等には、当社の判断により当社または本ポイント利用先企業より、ポイントまたは金品で、ポイントの返還ができなかったポイント相当額を返還するものとします。</li>
            <li>ID保有者が自己の保有するポイントをポイント利用対象取引の全部または一部の支払いに利用することを申請した後に、当該ID保有者が利用申請したポイントが取消の対象であることが判明した場合、当社は当該支払の対象となる取引を取消または保留することがあります。その場合、ID保有者はその後の対応について当社の指示に従うものとします。</li>
            <li>ID保有者は当社指定のページで明示的に定める場合を除き、ポイントを第三者に譲渡・相続できず、また金品に交換することもできません。</li>
            <li>ID保有者が万一複数のID登録をしている場合でも、当該ID保有者はそれぞれのID登録において保有するポイントを合算することはできません。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第6条（ID保有者の禁止事項）</b></p>
        <p>ID保有者は、対象サービスを利用するにあたり以下の行為または以下に該当するおそれがあると当社が判断する行為を行わないものとします。</p>
        <ol>
            <li>他の利用者または第三者の著作権、肖像権、その他知的所有権を侵害する行為</li>
            <li>他の利用者または第三者の財産、プライバシー等を侵害する行為</li>
            <li>他の利用者または第三者に対する誹謗中傷、迷惑となる行為、不快感を抱かせる行為</li>
            <li>当社のサーバー等のコンピュータに不正にアクセスしたり、有害なコンピュータプログラム、有害なメール等を送信または書き込む行為</li>
            <li>対象サービスを商用目的で利用する行為</li>
            <li>犯罪的行為に結びつく行為</li>
            <li>対象サービスを通じて入手した情報を、複製、販売出版その他私的利用の範囲を超えて使用する行為</li>
            <li>対象サービスの運営を妨げ、あるいは当社または提携先の信頼を毀損するような行為</li>
            <li>営業活動、営利を目的とした情報提供活動を行う行為</li>
            <li>対象サービスを使用して、当社または提携先を故意に虚偽情報の提供や脅迫によって困惑させる行為</li>
            <li>本ポイント付与対象取引サービス提供企業または当社へのキャンセル料・利用料の不払い、暴力行為等掲載施設、当社または第三者に対する迷惑行為</li>
            <li>その他、法律、法令、公序良俗または本規約に違反する行為または違反のおそれのある行為</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第7条（不保証）</b></p>
        <p>当社は、対象サービスにおいて信頼できるサービスや情報をID保有者へ届けるべく努力をしていますが、次の各号について、一切保証しません。対象サービスの利用に際しては、ID保有者自身が、対象サービスおよび対象サービスにおいて提供される情報やサービスの有用性等を判断し、自身の責任でご利用下さい。</p>
        <ol>
            <li>対象サービス上で提供される全ての情報（対象サービスとして、および対象サービス上に表示される、第三者が管理・運営するリンクサイト内に含まれる一切の情報等を含み、以下同様とします）に関する、有用性、適合性、完全性、正確性、安全性、合法性、最新性等</li>
            <li>ID保有者が対象サービス上において提供される情報を利用して第三者と交渉または予約、もしくは契約の申込または締結等を行う場合（ポイント付与対象取引、ポイント利用対象取引を行う場合を含みます）において、当該行為に関する一切</li>
            <li>対象サービスおよび対象サービスを通じて入手できる商品、役務、情報等がID保有者の希望または期待を満たす適切なものであること</li>
            <li>対象サービスの提供に不具合、エラーまたは障害が生じないこと</li>
            <li>対象サービスに関連して送信される電子メール、ウェブコンテンツ等に、コンピュータウィルス等の有害なものが含まれていないこと</li>
            <li>対象サービスの存続または同一性が維持されること</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第8条（当社・ID保有者の責任）</b></p>
        <ol>
            <li>当社は、ID保有者の対象サービスの利用（本項各号を含みますが、これに限りません）または利用不能により生じる一切の損害（ID保有者もしくは第三者に生じた精神的苦痛、またはその他の金銭的損失を含む不利益を含みますが、これに限りません）に関して当社に故意・重過失がない限り一切の責任を負わないものとします。また、当社が責任を負う場合であっても、当社の責任は直接かつ通常の損害に限られるものとします。
                <ul>
                    <li>対象サービスを介して行う、第三者が提供するコンテンツのダウンロード、および、第三者が管理・運営するリンクサイトへのアクセス等の行為により、ID保有者の皆様に生じた損害</li>
                    <li>当社が相当の安全策を講じたにもかかわらず、対象サービスの無断改変、対象サービスに関するデータへの不正アクセス、コンピュータウィルスの混入等の不正行為が行われ、これに起因してID保有者の皆様に生じた損害</li>
                    <li>通信回線や、コンピュータ等の障害によるシステムまたはサービスの中断、遅滞、中止、データ消失、不正アクセスにより生じた損害</li>
                </ul>
            </li>
            <li>当社は、ID保有者が対象サービスを利用した場合にID保有者と本ポイント付与対象取引サービス提供企業や本ポイント利用先企業、その他の第三者との間に生じたトラブルについて、当社に故意・重過失がない限り一切責任を負わないものとし、ID保有者は自己の費用と責任で当該トラブルを解決するものとします。</li>
            <li>ID保有者の本規約またはサービス利用規約に違反する行為によって、当社または第三者が損害を被った場合、当該ID保有者は、自己の責任と費用をもって、当該損害の一切を賠償しなければなりません。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第9条（個人情報の取扱）</b></p>
        <ol>
            <li>当社は、ID保有者のプライバシーを尊重し、ID保有者の皆様の個人情報の管理に細心の注意を払います。対象サービスの管理・運営に当たって、当社がID保有者から取得した個人情報は、別途定める「プライバシーポリシー」に従って取り扱うものとします。</li>
            <li>当社は、ID保有者が対象サービスの利用を停止しまたは対象サービス独自の会員制度から退会等（理由は問いません）したとしても、ID保有者が別途当社が定める手続きに従いＴＨＥ　ＡＬＬIDを抹消しない限り、ID保有者の個人情報を保有し利用し続けることができるものとし、ID保有者は、これを予め同意するものとします。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第10条（属性情報・行動履歴の取得及び利用）</b></p>
        <ol>
            <li>当社は、ID保有者により対象サービスの利用を通じて提供された年齢や性別、職業、居住地域等の属性情報および対象サービスにおけるID保有者の行動履歴を取得し、対象サービスの提供に必要な範囲で利用すること、および本契約の有効期間にかかわらず当該属性情報・当該行動履歴に基づき作成された統計データについて、何らの制限なく利用することができることに、ID保有者は予め承諾します。なお、当社は、法律上の根拠に基づき要求された場合およびID保有者の同意を得た場合を除き、ID保有者個人を特定できる情報を第三者に開示しないものとします。</li>
            <li>当社は、ID保有者がＴＨＥ　ＡＬＬIDを用いて対象サービスにログインしこれを利用した場合、個人を特定したうえで、これまでに取得した属性情報および行動履歴（本規約への同意の前に取得された情報であると後に取得された情報であるとを問いません）を用いて、広告等の配信・表示および本サービスの提供を行うことができるものとし、ID保有者はこれを予め承諾します。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第11条（対象サービスの変更・中断・終了）</b></p>
        <ol>
            <li>当社は、ID保有者に事前に通知することなく、対象サービスの全部または一部を変更、中断、終了することができるものとします。ただし、当社が対象サービスの全部を終了する場合には、ID保有者に対し、終了日の１ヶ月前までに当社の定める方法で通知するものとします。</li>
            <li>対象サービスの全部または一部の変更・中断・終了に伴い、ID保有者に不利益や損害が発生した場合であっても、当社は一切の責任を負わないものとします。</li>
            <li>当社が、対象サービスのうち、本ポイントサービスの全部を終了する場合、当該終了日よりポイントの発行を終了するものとします。ただし、当該終了日以降も、ID保有者は別途当社指定のページ上定めがある場合、当該条件に従いポイントを利用することができるものとします。 </li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第12条（反社会的勢力の排除）</b></p>
        <p>ID保有者は、反社会的勢力（暴力団、暴力団員、暴力団員でなくなった時から5年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロまたは特殊知能暴力集団等、その他これらに準ずる者をいいます。）に該当しないこと、また暴力的行為、詐術・脅迫行為、業務妨害行為等違法行為を行わないことを、将来にわたっても表明するものとします。かかる表明に違反した場合には、異議なくＴＨＥ　ＡＬＬIDおよび対象サービスの停止、または契約解除を受け入れるものとします。</p>
    </div>
    <div class="term-item">
        <p><b>第13条（権利義務の譲渡禁止）</b></p>
        <p>ID保有者は、対象サービスに関するID保有者としての地位および当該地位に基づく権利義務を、当社が予め承諾した場合を除き、第三者に譲渡しまたは担保に供してはならないものとします。</p>
    </div>
    <div class="term-item">
        <p><b>第14条（準拠法および管轄）</b></p>
        <p>本規約は日本法に基づいて解釈され、本規約に関する紛争の第一審の専属的合意管轄裁判所は、東京地方裁判所または東京簡易裁判所とします。</p>
    </div>
    <p>附則<br>2021年3月21日　制定・施行</p>
{% endblock %}