{% extends 'default_frame.twig' %}

{% set container_class = 'terms' %}

{% block main %}
    <h1>小売店・製造販売業者の皆様へ</h1>
    <div class="term-item">
        <p><b>第1条（利用規約）</b></p>
        <ol>
            <li>ジオールモール利用規約（以下、「本規約」といいます）は、利用者の皆様（以下、「ユーザー」といいます）が、株式会社ジ・オール（以下、「ＴＨＥ　ＡＬＬ」といいます）が運営するインターネット上のショッピングモール「ジオールモール」（以下、パソコン版・携帯版・スマートフォン向けアプリ等を総称し「本サイト」といい、ユーザー向けのメール配信（ショップからのクーポンや割引券の付与に関する連絡を含む）を含む本サイトを通じてＴＨＥ　ＡＬＬが提供するサービスを「本サービス」といいます）を利用するにあたり、ユーザーとＴＨＥ　ＡＬＬとの本サービスの利用及び運営等にかかる一切の事項に適用されるものとし、ユーザーは本規約を確認・承諾の上、本サービスを利用するものとします。ＴＨＥ　ＡＬＬは、ユーザーが本サービスを利用した時点で、ユーザーが本規約の全ての記載内容に同意したものとみなします。</li>
            <li>ＴＨＥ　ＡＬＬが本サービスの提供に際して提示する、「ご利用案内」等の諸注意は、本規約の一部を構成するものとします。</li>
            <li>ＴＨＥ　ＡＬＬは、ユーザーの承諾を得ることなく本規約を変更することができるものとします。変更後の本規約は、ＴＨＥ　ＡＬＬが別途定める場合を除いて、本サイト上で表示された時点より効力を生じるものとし、ユーザーが、本規約の変更の効力が生じた後に本サービスをご利用になる場合には、変更後の本規約の全ての記載内容に同意したものとみなされます。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第2条（通知）</b></p>
        <ol>
            <li>ＴＨＥ　ＡＬＬは、本サイト上で表示することにより、ユーザーに対し随時必要な事項を通知します。</li>
            <li>前項の通知は、ＴＨＥ　ＡＬＬが当該通知の内容を本サイト上で表示した時点より、効力を生じるものとします。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第3条（会員登録）</b></p>
        <ol>
            <li>本サイト上又はＴＨＥ　ＡＬＬ指定のサイト上で受け付けがなされるＴＨＥ　ＡＬＬID登録を希望するユーザーは、本規約及びＴＨＥ　ＡＬＬID規約を承認のうえ登録を申請するものとし、当該申請をＴＨＥ　ＡＬＬが承認した方を会員というものとします。ユーザーは、会員登録を行うことにより、ＴＨＥ　ＡＬＬが本サービス上提供する会員向けサービスを利用することができます。なお、既に会員登録済のユーザーは、新たな会員登録を要しないものとします。</li>
            <li>会員は、ＴＨＥ　ＡＬＬから、会員登録事項の確認、証明のための資料の提出を求められた場合にはＴＨＥ　ＡＬＬが指定する期間内にこれに応じるものとします。</li>
            <li>会員は、随時退会可能です。但し、その場合は本サイト上又はＴＨＥ　ＡＬＬ指定のサイト上で案内される退会手続きに従うものとします。</li>
            <li>本サービスにおいて、会員は１つのID・パスワードのみを使用できるものとします。会員が複数のID・パスワードを使用しているおそれがあるとＴＨＥ　ＡＬＬが判断した場合、ＴＨＥ　ＡＬＬは当該会員に対して第10条第1項で定める不許諾等を講じることができるものとし、当該会員はこれに対して一切異議を申し立てず、またこれにより損害又は不利益を被ったとしても、ＴＨＥ　ＡＬＬを免責し、賠償請求その他一切の請求を行わないものとします。但し、ＴＨＥ　ＡＬＬに故意又は重過失がありこれにより損害を生じた場合は、かかる損害について賠償します。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第4条（本サービスの内容）</b></p>
        <ol>
            <li>会員は、本サービスを通して、本サイト内に設置される店舗及びウェブページ（以下、当該店舗及びウェブページを総称して「ショップ」といいます）を経由して商品等を購入できます。</li>
            <li>ショップを経由して商品等を購入する取引は、ショップを設置する事業者（以下、「事業者」といいます）と会員の間の直接の取引となります。ＴＨＥ　ＡＬＬは、当該取引の当事者とならず、取引に関する一切の責任を負いません。そのため、取引に際して、会員にトラブルが生じた場合、会員は、事業者との間で協議の上、解決をするものとし、会員は自己の責任において本サービスを利用するものとします。</li>
            <li>ＴＨＥ　ＡＬＬは、事業者、ショップ及び商品等（以下、総称して「本商品等」といいます）について何らの保証も行わないものとします。また、本商品等に関する問い合わせはユーザーが事業者に対して直接行うものとし、ＴＨＥ　ＡＬＬはこれに関して一切関与しないものとします。</li>
            <li>未成年の会員は保護者の同意を得たうえで本サービスを利用し、事業者との売買契約を締結するものとします。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第5条（クーポン）</b></p>
        <ol>
            <li>ＴＨＥ　ＡＬＬは、本サービスを通して、事業者が会員に対して当該事業者の運営するショップで商品等を購入する取引に利用できる割引券（以下、「ショップクーポン」といいます）を発行する機能、及びＴＨＥ　ＡＬＬが、会員に対してショップで商品等を購入する取引に利用できる割引券（以下、「ＴＨＥ　ＡＬＬ発行クーポン」といいます。以下、ショップクーポンと総称して「クーポン等」といいます。）を発行する機能を提供することが出来るものとします。またＴＨＥ　ＡＬＬは、本サービスを通してユーザーに対して、クーポン等に関するメールを配信する場合があるものとします。</li>
            <li>ショップクーポンは、事業者が会員に対して直接発行するものとし、ショップクーポンによって受けることが出来る割引の内容、有効期間、利用条件、その他諸条件は、ＴＨＥ　ＡＬＬが認める範囲内で、事業者が任意に定めるものとします。ＴＨＥ　ＡＬＬは、ショップクーポン発行主体とならず、ショップクーポンに関する一切の責任を負いません。万が一、ショップクーポンに関してトラブルが生じた場合、会員は、事業者との間で直接、協議解決するものとします。</li>
            <li>ＴＨＥ　ＡＬＬ発行クーポンは、ＴＨＥ　ＡＬＬが会員に対して直接発行するものとし、ＴＨＥ　ＡＬＬ発行クーポンによって受けることが出来る割引の内容、有効期間、利用条件、その他諸条件は、ＴＨＥ　ＡＬＬが任意に定めるものとします。</li>
            <li>クーポン等は、付与された会員本人に限って利用可能なものとします。会員は、クーポン等に基づく権利を、ＴＨＥ　ＡＬＬ及び事業者が予め承諾した場合を除き、第三者に譲渡し又は担保に供してはならないものとします。</li>
            <li>クーポン等は、換金出来ません。</li>
            <li>クーポン等は、１回の購入に対して１クーポンまでしか利用出来ないものとします。</li>
            <li>クーポン等によって受けることが出来る割引の内容が、当該クーポン等を利用する商品等の購入の代金を超える場合であっても、会員が受けられる割引は商品等の購入の代金を上限とし、当該代金額とクーポン等で割引される割引額の差額は、当該クーポン等利用時に消滅するものとします。会員は、消滅した権利を、方法のいかんを問わずＴＨＥ　ＡＬＬ又は事業者に請求することは出来ません。</li>
            <li>クーポン等を利用せずに商品等の注文が完了した場合であっても、原則当該注文を取り消すことは出来ません。かかる場合、注文内容の変更、その他当該注文の取り消しを希望する会員は、事業者との間で直接、協議解決するものとします。</li>
            <li>ＴＨＥ　ＡＬＬ又は事業者は、以下の各号の一に該当する場合、当該クーポン等の有効期間内であっても、会員に対して事前に通知することなく、会員が保有するクーポン等を取り消すことが出来るものとします。なおかかる取り消しが生じた場合であっても、ＴＨＥ　ＡＬＬは取り消したクーポン等について、再発行すること、損害を賠償すること、その他何らの方法を問わず、一切責任を負いません。
                <ul>
                    <li>1) クーポン等がクーポンの発行者が予定していた内容と誤った内容で発行された場合</li>
                    <li>2) クーポン等が景品表示法、その他の法令、公序良俗、その他本規約に違反する、又はその恐れのある場合</li>
                    <li>3) 会員が、法令、公序良俗、その他本規約に違反してクーポン等を利用する、又はその恐れのある場合</li>
                    <li>4) 会員が、クーポン等付与の条件を満たしていないことが明らかになった場合</li>
                    <li>5) その他ＴＨＥ　ＡＬＬが取り消すことが適当と判断した場合</li>
                </ul>
            </li>
            <li>会員は、前項に定めるクーポン等の取り消しが生じた場合、当該クーポン等を利用した商品等の購入がＴＨＥ　ＡＬＬ又は事業者の判断により取り消し又は留保される場合があることを、予め了承するものとします。当該商品等の購入について、ＴＨＥ　ＡＬＬ又は事業者が取り消しを行わなかった場合、会員は速やかにクーポン等の取り消しによって発生した不足額を、ＴＨＥ　ＡＬＬ又は事業者の指示に従い事業者に支払うものとします。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第6条（閲覧・利用環境）</b></p>
        <p>本サービスは、コンテンツの表示制御にクッキー及びJavaScriptを使用しております。ユーザーが設定を変更することにより、クッキー及びJavaScriptの機能を停止することも可能ですが、その場合は、本サービスを最適な状態で受けることができなくなりますのでご了承ください。</p>
    </div>
    <div class="term-item">
        <p><b>第7条（レビュー投稿ルール）</b></p>
        <ol>
            <li>ＴＨＥ　ＡＬＬが、本サービス上にて、会員からのレビュー、写真、情報等（以下総称して「レビュー」といいます）の投稿を受け付ける場合、本条の規定が適用されるものとします。</li>
            <li>ＴＨＥ　ＡＬＬは、会員から投稿されたレビューについて、会員の方の許諾なく自由に、以下の処理を無償ですることができるものとします。また、ＴＨＥ　ＡＬＬは、会員に対し、投稿されたレビューに関して連絡を行うことがあるものとします。
                <ul>
                    <li>1) 内容について審査すること。</li>
                    <li>2) 本サービスに掲載すること、又は掲載しないこと。</li>
                    <li>3) 改変して、本サービスに掲載すること。</li>
                    <li>4) 本サービスに掲載したレビューを、掲載後に改変、削除すること。</li>
                    <li>5) 本サービス以外のＴＨＥ　ＡＬＬの指定するメディアにおいて、前各号の処理をすること。なお、この場合において、「本サービス」とあるのは「ＴＨＥ　ＡＬＬの指定するメディア」と読みかえるものとします。</li>
                </ul>
            </li>
            <li>レビューの著作権（著作権法第27条、第28条の権利を含みます。）はＴＨＥ　ＡＬＬに帰属するものとします。また、会員は、ＴＨＥ　ＡＬＬによるレビューの改変や公表の有無、ＴＨＥ　ＡＬＬの指定するメディアへのレビューの転載について、著作者人格権を行使せず、異議を申し立てないことを承諾するものとします。</li>
            <li>会員は、レビューの内容に責任を負い、以下に掲げる事項を含むレビューを投稿してはならないものとします。
                <ul>
                    <li>1) 本サービスと関係のない内容を含むもの。</li>
                    <li>2) 会員自身の体験に基づかない内容を含むもの。</li>
                    <li>3) 営利目的の内容を含むもの。</li>
                    <li>4) 事実と反する内容・虚偽の内容を含むもの。</li>
                    <li>5) 多数の同一内容のレビュー。</li>
                    <li>6) 本サービスのサービス・機能に関するお問合せやクレームを含むもの。</li>
                    <li>7) 著作権、商標権、プライバシー権、肖像権、名誉等、第三者の権利を侵害する又はそのおそれのある内容を含むもの。</li>
                    <li>8) 他人のプライバシーにかかる事項を含むもの。</li>
                    <li>9) 他人の名称・メールアドレス・住所・電話番号等個人を特定しうる情報を含むもの（投稿者名や投稿内容において使用される場合を含むが、これらに限られない）。</li>
                    <li>10) 広告・宣伝・営業活動、公職選挙運動、特定の思想・宗教への勧誘、又はそれらに類する内容を含むもの。</li>
                    <li>11) ポルノ小説・写真、性的交渉の勧誘、その他猥褻な内容を含むもの。</li>
                    <li>12) 児童や青少年に対し著しく粗暴性、残虐性又は犯罪を誘発助長し、その健全な育成を阻害する内容を含むもの。</li>
                    <li>13) 法令、公序良俗に反する又はそのおそれのある内容を含むもの。</li>
                    <li>14) 差別的表現を含むもの。</li>
                    <li>15) 本サービスにおけるテーマや目的に反する又はそのおそれのある内容を含むもの。</li>
                    <li>16) ナンセンス、グロテスクな内容を含むもの。</li>
                    <li>17) その他、本サービスに不適切な内容、表現であるとＴＨＥ　ＡＬＬが判断したもの。</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第8条（本商品等に関する情報の非保証）</b></p>
        <p>本サービスにて表示される本商品等に関する情報について、ＴＨＥ　ＡＬＬはその正確性、真実性や有用性等を保証しないものとします。</p>
    </div>
    <div class="term-item">
        <p><b>第9条（ＴＨＥ　ＡＬＬの免責）</b></p>
        <ol>
            <li>ＴＨＥ　ＡＬＬは、ユーザーが使用する機器、設備又はソフトウェアが本サービスの利用に適さない場合であっても、サービスの変更、改変等を行う義務を負わないものとします。</li>
            <li>ＴＨＥ　ＡＬＬは、アクセス過多、その他予期せぬ要因に基づく本サービスの表示速度の低下や障害等によって生じたいかなる損害についても、一切責任を負いません。但し、ＴＨＥ　ＡＬＬに故意又は重過失がありこれにより損害を生じた場合は、かかる損害について賠償します。</li>
            <li>ＴＨＥ　ＡＬＬは、ユーザーが本サービスを利用する際に発生する通信費用や設備投資について、一切負担しないものとします。</li>
            <li>ＴＨＥ　ＡＬＬは、本サービスに関連して送信される電子メール及びＷＥＢコンテンツに、コンピュータウィルス等の有害なものが含まれていないことを保証しないものとします。</li>
            <li>ＴＨＥ　ＡＬＬが相当の安全策を講じたにもかかわらず、以下の事由により損害が生じた場合、ＴＨＥ　ＡＬＬはいかなる責任も負わないものとします。
                <ul>
                    <li>通信回線やコンピュータ等に障害が生じたことにより、本サービスのシステムの中断・遅滞・中止等によって発生した損害</li>
                    <li>本サイトが改竄されたことにより生じた損害</li>
                    <li>本サービスに関するデータへの不正アクセスにより生じた損害</li>
                </ul>
            </li>
            <li>ＴＨＥ　ＡＬＬは、ユーザーが本サービスを利用できなかったことにより発生した一切の損害について、いかなる責任も負わないものとします。</li>
            <li>ＴＨＥ　ＡＬＬは、本サービスで会員が購入した商品等について、会員の希望を満たすこと、有用であること等その他一切を保証しません。</li>
            <li>上記各項記載事項の他、本サービスの利用にあたりユーザーに発生した一切の損害について、ＴＨＥ　ＡＬＬは原則として責任を負いません。但し、ＴＨＥ　ＡＬＬが債務不履行、不法行為その他一切の行為によりユーザーに損害を与えた場合は、ＴＨＥ　ＡＬＬは、ユーザーについて発生した直接かつ通常の損害を購入した商品等の対価を上限として賠償します（但し、ＴＨＥ　ＡＬＬに故意又は重過失がありこれにより損害を生じた場合は、かかる上限を超えて賠償します）。また、ＴＨＥ　ＡＬＬの責任に帰すべからざる事由から発生した損害、ＴＨＥ　ＡＬＬの予見の有無にかかわらず、特別の事情から生じた損害、逸失利益については、ＴＨＥ　ＡＬＬは一切責任を負わないものとします（但し、ＴＨＥ　ＡＬＬに故意又は重過失がありこれにより損害を生じた場合は、かかる損害について賠償します）。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第10条（本サービス利用の不許諾）</b></p>
        <p>ＴＨＥ　ＡＬＬは、会員に以下各号の事由が認められると判断した場合、本サービスの利用を許諾せず、また会員の退会処置、本サービスの全部又は一部の利用停止その他ＴＨＥ　ＡＬＬが必要と判断する措置（以下、「不許諾等」といいます）を講じることができるものとし、会員はこれに対して理由の開示を求めること及び一切の異議の申し立てをすることができず、またこれにより損害又は不利益を被ったとしても、ＴＨＥ　ＡＬＬを免責し、賠償請求その他一切の請求を行わないものとします。但し、ＴＨＥ　ＡＬＬに故意又は重過失がありこれにより損害を生じた場合は、かかる損害について賠償します。</p>
        <ul>
            <li>1) 過去を含め本規約又は法令に違反したとき</li>
            <li>2) 会員ＩＤ又はパスワード及び本サービスを不正に使用し又は使用させた場合。</li>
            <li>3) 会員登録事項に虚偽の内容又は不足があったとき又はそのおそれがあるとき</li>
            <li>4) 指定アドレスに電子メールアドレスが不通のとき、又はＴＨＥ　ＡＬＬからの照会、資料提出等の要請に対して速やかに対処しないとき</li>
            <li>5) クレジットカードの与信確認に問題が生じたとき</li>
            <li>6) いわゆる反社会的勢力もしくは反社会的活動を行う団体に所属し、又はこれらと密接な関係を有するとき</li>
            <li>7) 会員に対し、差押、仮差押、仮処分、強制執行、破産等の申し立てがなされた場合、又は、会員が自ら破産、債務整理の申し立てをした場合</li>
        </ul>
    </div>
    <div class="term-item">
        <p><b>第11条（本サービスの停止又は中止）</b></p>
        <ol>
            <li>ＴＨＥ　ＡＬＬは、以下各号の事由に起因する場合、本サービスの全部又は一部を停止することができ、かかる停止に起因してユーザー又は第三者に損害が発生した場合、ＴＨＥ　ＡＬＬは一切の責任を負わないものとします。但し、ＴＨＥ　ＡＬＬに故意又は重過失がありこれにより損害を生じた場合は、かかる損害について賠償します。
                <ul>
                    <li>1) 定期的又は緊急に本サービス提供のためのシステムの保守又は点検を行う場合。</li>
                    <li>2) 火災、停電、天災地変等の非常事態により本サービスの運営が不能となった場合。</li>
                    <li>3) 戦争、内乱、暴動、騒擾、労働争議等により、本サービスの運営が不能となった場合。</li>
                    <li>4) 本サービス提供のためのシステムの不良及び第三者からの不正アクセス、コンピュータウィルスの感染等により本サービスを提供できない場合。</li>
                    <li>5) 法令等に基づく措置により本サービスが提供できない場合。</li>
                    <li>6) その他ＴＨＥ　ＡＬＬが止むを得ないと判断した場合。</li>
                </ul>
            </li>
            <li>ＴＨＥ　ＡＬＬは、前項により本サービスの運用を停止する場合、事前に本サイト上でその旨を通知するものとします。但し、緊急の場合は、この限りではありません。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第12条（本サービスの廃止）</b></p>
        <ol>
            <li>ＴＨＥ　ＡＬＬは、自己の都合により本サービスを廃止することができるものとします。</li>
            <li>ＴＨＥ　ＡＬＬは、本サービスを廃止する場合には、ユーザーに対し、廃止する日の2週間前までにその旨を本サイト等にて告知するものとします。</li>
            <li>本サービスの廃止に起因してユーザー又は第三者に損害が発生した場合、ＴＨＥ　ＡＬＬは一切の責任を負わないものとします。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第13条（個人情報の取り扱い）</b></p>
        <p>ＴＨＥ　ＡＬＬは、別途定める「プライバシーポリシー」に則り、ユーザーの個人情報を取り扱うものとします。なお、ＴＨＥ　ＡＬＬは、ユーザーからの問い合せ内容をもとに、個人を特定できない形式による統計データを作成し、当該データを利用させていただくことがあります。</p>
    </div>
    <div class="term-item">
        <p><b>第14条（アプリの利用について）</b></p>
        <ol>
            <li>1.ＴＨＥ　ＡＬＬが提供するアプリケーションソフトウェア（以下、アプリケーション内で提供されるコンテンツを含み、「本製品」といいます）をご利用いただく場合には、ユーザーは、本条の条件に同意していただく必要があり、本条に同意できない場合は、本製品を利用しないものとします。</li>
            <li>ユーザーは、各ダウンロードボタンをクリックすることで、ＴＨＥ　ＡＬＬから本製品の使用許諾を受け、本製品をダウンロードあるいはインストールする権利を取得することになります。なお、ＴＨＥ　ＡＬＬは、自己の判断により、当該使用許諾をいつでも取り消すことができるものとします。</li>
            <li>ユーザーが本規約に違反した場合、ＴＨＥ　ＡＬＬは、ユーザーの本製品の利用を差し止めることができるものとします。</li>
            <li>ユーザーは、ＴＨＥ　ＡＬＬの許諾なく、本製品全部又は一部の販売、レンタル、リース、再許諾、譲渡、変更、翻訳、リバースエンジニアリング、逆コンパイル、逆アセンブルを行ってはならないものとします。また、本製品のダウンロード、インストール、使用又は複製は、ユーザーが本製品を利用するためにのみ行うものとします。</li>
            <li>本製品に関する著作権及びその他の権利は、ＴＨＥ　ＡＬＬ又は当該権利を有する第三者に帰属するものとします。ユーザーによる本製品の利用は私的利用の範囲内にとどめるものとし、ユーザーは、本製品の商業目的での利用をしてはならないものとします。</li>
            <li>ＴＨＥ　ＡＬＬは、本製品のバージョンアップ版を提供する義務、及び本製品に関するサポートを行う義務を負いません。但し、ＴＨＥ　ＡＬＬの判断により、ユーザーに本製品のバージョンアップ版、又は製品のバージョンアップ情報等をご提供する場合、及びサポートサービスを提供する場合があります。その場合、本製品のバージョンアップ版についても本規約が適用されるものとします。</li>
            <li>ＴＨＥ　ＡＬＬは、ユーザーが使用する機器、設備又はソフトウェアが本製品の利用に適さない場合であっても、本製品の変更、改変等を行う義務を負わないものとします。</li>
            <li>ＴＨＥ　ＡＬＬは、アクセス過多、その他予期せぬ要因に基づく本製品の表示速度の低下や障害等によって生じたいかなる損害についても、一切責任を負いません。</li>
            <li>ユーザーは、本製品中を構成するAPIサービスが理由の如何を問わず本製品内において利用できなくなった場合には、本製品が利用できなくなることを予め承諾のうえで、本製品を利用するものとします。なお、本製品の利用ができなくなったことにより、ユーザーに何らかの損害が発生した場合も、当社は一切責任を負わないものとします。</li>
            <li>ユーザーは、本製品にかかるユーザーの権利を第三者に譲渡することはできないものとします。 </li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第15条（知的財産権）</b></p>
        <p>本サイト上を構成する文章、画像、プログラムその他のデータ等についての一切の権利（所有権、知的財産権、肖像権、パブリシティー権等）は、ＴＨＥ　ＡＬＬ又は当該権利を有する第三者に帰属するものとし、ユーザーは、方法又は形態の如何を問わず、これらをＴＨＥ　ＡＬＬに無断で複製、複写、転載、転送、蓄積、販売、出版その他ユーザー個人の私的利用の範囲を超えて使用してはならないものとします。</p>
    </div>
    <div class="term-item">
        <p><b>第16条（禁止事項）</b></p>
        <p>ユーザーは、本サービスを利用するにあたり、以下の各行為をしてはならないものとします。</p>
        <ul>
            <li>1) 犯罪行為若しくは犯罪行為に結びつく行為又はそのおそれのある行為。</li>
            <li>2) ＴＨＥ　ＡＬＬ又は第三者の著作権、商標権等の知的財産権を侵害する行為又はそのおそれのある行為。</li>
            <li>3) ＴＨＥ　ＡＬＬ又は第三者の財産権、プライバシー権、肖像権その他の権利を侵害する行為又はそのおそれのある行為。</li>
            <li>4) ＴＨＥ　ＡＬＬ又は第三者を差別又は誹謗中傷する行為。 </li>
            <li>5) 本サービスを営利目的で利用する行為。</li>
            <li>6) システムへの不正アクセス等本サービスの運営を妨げる行為。</li>
            <li>7) ＴＨＥ　ＡＬＬ又は第三者の信用を損なう行為。</li>
            <li>8) 他人になりすまして情報等を送信する行為。</li>
            <li>9) 法令、公序良俗若しくは本規約に違反する行為又はそのおそれのある行為。</li>
            <li>10) 本サービスとは関係のない団体やサービス、活動にたいしての勧誘行為。</li>
            <li>11) 商品等の購入申請を行う際に本サイト上に掲示される規約や注意事項等に反する行為、又はそのおそれのある行為。</li>
            <li>12) 1ユーザーが複数の会員登録申請を行う行為、又はそのおそれがある行為。</li>
            <li>13) 本サービスおよび事業者の運営を妨げる行為。</li>
            <li>14) その他ＴＨＥ　ＡＬＬが不適切と判断する行為。</li>
        </ul>
    </div>
    <div class="term-item">
        <p><b>第17条（本規約の有効性）</b></p>
        <ol>
            <li>本規約の規定の一部が法令に基づいて無効と判断されても、本規約のその他の規定は有効とします。</li>
            <li>本規約の規定の一部があるユーザーとの関係で無効とされ、又は取り消された場合でも、本規約はその他のユーザーとの関係では有効とします。</li>
        </ol>
    </div>
    <div class="term-item">
        <p><b>第18条（準拠法及び管轄裁判所）</b></p>
        <ol>
            <li>本規約の準拠法は、日本法とします。</li>
            <li>ユーザーとＴＨＥ　ＡＬＬの間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
        </ol>
    </div>
    <p>以上<br>2021年3月21日 制定・施行</p>
{% endblock %}