{% extends 'default_frame.twig' %}

{% set container_class = 'tokusho' %}

{% block main %}
    <h1>特定商取引法に基づく表示について</h1>
    <div class="tokusho__table">
        <table>
            <tbody><tr>
                <th>事業者</th>
                <td>
                    <table>
                        <tbody><tr>
                            <td>【名称】</td>
                            <td>TSPC株式会社    </td>
                        </tr>
                        <tr>
                            <td>【住所】</td>
                            <td>〒668-0047　兵庫県豊岡市三坂町４－３</td>
                        </tr>
                        <tr>
                            <td>【責任者】</td>
                            <td>大下　克己</td>
                        </tr>
                        <tr>
                            <td>【連絡先】</td>
                            <td>0796-34-6033</td>
                        </tr>
                        <tr>
                            <td>【問合せ先】</td>
                            <td>info@tspc.co.jp</td>
                        </tr>
                        </tbody></table>
                </td>
            </tr>
            <tr>
                <th>サイト運営者</th>
                <td>
                    <table>
                        <tbody><tr>
                            <td>【名称】</td>
                            <td>株式会社ジ・オール</td>
                        </tr>
                        <tr>
                            <td>【住所】</td>
                            <td>〒668-0069　兵庫県豊岡市正法寺463-23</td>
                        </tr>
                        <tr>
                            <td>【責任者】</td>
                            <td>宮代　良晴</td>
                        </tr>
                        <tr>
                            <td>【連絡先】</td>
                            <td>0796-34-9088</td>
                        </tr>
                        <tr>
                            <td>【問合せ先】</td>
                            <td>support@the-all-mall.com</td>
                        </tr>
                        </tbody></table>
                </td>
            </tr>
            <tr>
                <th>販売主</th>
                <td>各ショップの「特定商取引法に基づく表示について」をご参照ください。</td>
            </tr>
            <tr>
                <th>商品の価格</th>
                <td>商品ごとに表示（各販売業者にて商品価格の設定を行います）</td>
            </tr>
            <tr>
                <th>商品の引渡時期</th>
                <td>入金確認後、ご購入商品の発送通知をメールでお知らせします。<br>配送日時の指定がない場合は、最短でのお届けとさせていただきます。<br>なお、商品の特性上、お届け日が前後することがございますが、予めご了承ください。</td>
            </tr>
            <tr>
                <th>注文商品の<br>キャンセル・返品・交換</th>
                <td>お客様のご都合による返品はお受けしていません。あらかじめご了承ください。<br>お届け商品がご注文内容と異なっていたり、欠陥があった場合、ショップの発送段階におけるミスや配送中の事故等により商品に不十分な点がありましたら、 ショップへご連絡頂きショップの指示のもと返品手続きを行ってください。<br>ご注文・購入された商品の変更・キャンセルは、ショップのみが行える操作となります。<br>また、変更・キャンセルについての判断は、各ショップごとに異なります。<br>商品返品のお申し出は、商品到着日から7日以内にお願いいたします。<br>※返品・交換についても同様です。<br>※一部ショップでは返品・交換に関するルールが緩和されております。 <br>※各ショップの「特定商取引法に基づく表示について」内の『注文商品のキャンセル・返品・交換』をご確認ください。<br>※ジ・オールサポートデスクへお問い合わせいただいても、注文後の変更・キャンセル（返品・交換）は承れません。ご了承ください。</td>
            </tr>
            <tr>
                <th>商品代金以外の必要金額</th>
                <td>・送料<br>・振込手数料<br>・返品手数料<br>・消費税</td>
            </tr>
            <tr>
                <th>支払方法</th>
                <td>・クレジットカード（SAISON、Visa、Mastescard、JCB、AMEX、Diners Club）<br>・銀行振込み</td>
            </tr>
            <tr>
                <th>支払期限</th>
                <td>【クレジットカード】<br>ご利用のクレジットカードにより異なります。詳しくは各クレジットカード会社までお問い合わせください。<br><br>【銀行振込】<br>前払いでお支払いください。<br>振込手数料は購入者負担でお願いします。</td>
            </tr>
            </tbody></table>
    </div>
{% endblock %}