<nav class="pc-content">
    <ul>
      <li><a href="{{ path('malldevel_front_series_list') }}">THE ALLについて</a></li>
      <li><a href="/products/list?category_id=&name=">商品一覧</a></li>
      <li><a href="/guide">ご利用ガイド</a></li>
    </ul>
</nav>