<nav>
<ul>
  <li><a href="">THE ALLについて</a></li>
  <li><a href="">お知らせ</a></li>
  <li><a href="">情報発信サイト</a></li>
</ul>
<div class="sp-navigation__item">
  <h4>商品を探す</h4>
  <ul>
    <li><a href="">商品一覧</a></li>
    <li><a href="">注目商品・特集</a></li>
    <li><a href="">シリーズから探す</a></li>
    <li><a href="">カテゴリーから探す</a></li>
    <li><a href="">ショップから探す</a></li>
  </ul>
</div>
<div class="sp-navigation__item">
  <h4>お買い物メニュー</h4>
  <ul>
    <li><a href="">ご利用ガイド</a></li>
    <li><a href="">ログイン</a></li>
    <li><a href="">新規会員登録</a></li>
  </ul>
</div>
</nav>