$color-000000: #000000;
$color-e00000: #E00000;
$color-0f1b74: #0F1B74;
$color-cb1569: #CB1569;
$color-808080: #808080;
$color-c8c8c8: #C8C8C8;
$color-f5f5f5: #F5F5F5;
$color-f6f6f6: #F6F6F6;
$color-ffffff: #FFFFFF;
$color-141414: #141414;
$color-d5d5d5: #D5D5D5;

.bg-gray {
  background-color: $color-f5f5f5;
}
