.notices{
  .board-area{
    background-color: $color-f5f5f5;
    .content-area{
      background-color: white;
      label.back-black{
        width: 120px;
        border-radius: 3px;
        text-align: center;
      }
    }
  }
}