ul.pagination{
  li.page-item{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $color-c8c8c8;
    background-color: white;
    color: $color-141414;
    font-size: $font-size-13;

    &.ellipsis{
      border: none;
    }

    &.next{
      width: 56px;
      background-color: black;
      color: white;
      a{
        background-color: black;
        color: $color-c8c8c8;
      }
    }

    &.active{
      background-color: $color-c8c8c8;
      border: none;
      a{
        background-color: $color-c8c8c8;
        color: white;
      }
    }
  }
}