{% extends 'default_frame.twig' %}

{% block title %}<h1>注文の流れ</h1>{% endblock %}
{% block main %}
<section class="guide__child__cont">
    <ul class="anchor-nav">
    <li><a href="#anchorr01">① 商品を探す</a></li>
    <li><a href="#anchorr02">② 商品を選択</a></li>
    <li><a href="#anchorr03">③ カートに入れる</a></li>
    <li><a href="#anchorr04">④ 注文手続き</a></li>
    <li><a href="#anchorr05">⑤ 注文内容の確認</a></li>
    <li><a href="#anchorr06">⑥ 注文完了</a></li>
    <li><a href="#anchorr07">⑦ 注文のキャンセル、返品、交換</a></li>
    </ul>
    <div class="anchor-item" id="anchor01">
    <h2>① 商品を探す</h2>
    <dl>
        <dt>商品目、キーワードから検索する</dt>
        <dd>ページヘッダー部（上部）の検索（検索マークボタンを入れる）を押して探している商品名、キーワードなどを入力して検索します。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>シリーズから探す</dt>
        <dd>トップページ左側から、シリーズを選択して、商品をご覧いただけます。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>カテゴリーから探す</dt>
        <dd>トップページ左側から、カテゴリを絞り込んでして、商品をご覧いただけます。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>ショップから探す</dt>
        <dd>トップページ左側から、ショップ一覧からショップを選択して、商品をご覧いただけます。<br><span>対象画面部位のハードコピーを貼る</span></dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor02">
    <h2>② 商品を選択</h2>
    <dl>
        <dt>商品一覧から購入する商品をクリック</dt>
        <dd>お目当ての商品を見つけましたらクリックしてください。<br><span>対象画面部位のハードコピーを貼る</span></dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor03">
    <h2>③ カートに入れる</h2>
    <dl>
        <dt>商品をカートに追加</dt>
        <dd>買い物を続ける場合は、購入個数を入力して「カートに入れる」ボタンをクリックします。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>カートへ進む</dt>
        <dd>ご購入手続きをする場合は、購入個数を入力して「カートに進む」ボタンをクリックしてください。<br><span>対象画面部位のハードコピーを貼る</span></dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor04">
    <h2>④ 注文手続き</h2>
    <dl>
        <dt>レジに進む</dt>
        <dd>商品の数量と金額を確認して、「レジに進む」ボタンをクリックします。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>会員の場合</dt>
        <dd>ご購入手続きをする場合は、購入個数を入力して「カートに進む」ボタンをクリックしてください。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>ゲスト購入の場合</dt>
        <dd>お客様情報入力。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>お届け先情報</dt>
        <dd><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>支払情報</dt>
        <dd><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>お問い合わせ事項</dt>
        <dd><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>送料</dt>
        <dd>配送料金は店舗ごとに違いますので、ご購入される店舗でご確認ください。<span>対象画面部位のハードコピーを貼る</span></dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor05">
    <h2>⑤ 注文内容の確認</h2>
    <p>注文内容をご確認の上「注文する」ボタンをクリックしてください。 変更点がある場合は、それぞれの「ご注文手続きに戻る」ボタンをクリックしてください。<br><span>対象画面部位のハードコピーを貼る</span></p>
    </div>
    <div class="anchor-item" id="anchor06">
    <h2>⑥ 注文完了</h2>
    <p>ご注文ありがとうございました。 ただいま、ご注文の確認メールをお送りさせていただきました。 万一、ご確認メールが届かない場合は、トラブルの可能性もありますので大変お手数ではございますがお問い合わせくださいますようお願いいたします。<br><span>対象画面部位のハードコピーを貼る</span></p>
    </div>
    <div class="anchor-item" id="anchor07">
    <h2>⑦ 注文のキャンセル、返品、交換</h2>
    <p>注文キャンセル、返品、交換条件は店舗ごとに違いますので、ご購入される店舗でご確認ください。</p>
    </div>
</section>
{% endblock %}