{% extends 'default_frame.twig' %}
{% block title %}<h1>支払方法について</h1>{% endblock %}
{% block main %}
<section class="guide__child__cont">
    <ul class="anchor-nav">
    <li><a href="#anchorr01">① 決済方法</a></li>
    <li><a href="#anchorr02">② クーポン・ポイントのご利用</a></li>
    <li><a href="#anchorr03">③ 領収書について</a></li>
    </ul>
    <div class="anchor-item" id="anchor01">
    <h2>① 決済方法</h2>
    <dl>
        <dt>クレジットカード</dt>
        <dd>ご利用いただけるクレジットカードは次のとおりです。 <br>Visa、Mastercard®、JCB、AMEX、Diners Clubのブランドマークがついたクレジットカードをご利用ください。<div style="margin-top: 15px; margin-bottom: 15px;" ><img src="{{ asset('assets/img/credit.png') }}" alt=""></div>
        <ul>
            <li>※ お支払いはすべて一回払いのみとなります。</li>
            <li>※ 上記のクレジットカードであっても、一部カードはご利用いただけない場合もございます。</li>
            <li>※ ご利用にあたって、クレジットカードの種別、名義人名、番号、有効期限、セキュリティコード、生年月日、クレジットカード会社への登録住所を情報記入ページでご入力いただくことが必要となります。</li>
            <li>※ ご利用者による商品の代金のお支払いは、各クレジットカード会社の会員規約にもとづくお支払いとなります。</li>
            <li>※ 現在、カード不正利用防止のため一部カード（セキュリティーコードの記載がないカードなど）がお使いになれない場合がございます。ご迷惑をおかけいたしますことお詫び申し上げます。</li>
        </ul>
        </dd>
        <dt>銀行振込（前払い）</dt>
        <dd>ご注文後7日以内に、下記の口座にお振込みください。振込手数料はお客様負担となりますので、あらかじめご了承ください。<br>振込先<br>銀行名：但馬銀行<br>店番号：豊岡東支店 015<br>口座種別：普通<br>口座番号：ＸＸＸＸＸＸＸＸ<br>名義人名：ＴＳＰＣ株式会社<br>フリガナ：ティエスピーシー（カ<br><br>ご注文日から１週間以内にお振込みの確認ができない場合、ご注文をキャンセルさせていただきますので、ご了承ください。<br>お振込み後、１日経っても弊社からのご入金確認メールが届かない場合は、お客様サポートまでお問合せください。<br>support@theall.co.jp<br><b>ご注文主様とは異なる名義でお振込みの場合</b><br>注文番号とお振込みの名義をご用意の上、お客様サポートまでご連絡ください。<br>support@theall.co.jp<br>商品の発送はご入金の確認後となりますので、あらかじめご了承ください。</dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor02">
    <h2>② クーポン・ポイントのご利用</h2>
    <dl>
        <dt>クーポンの利用方法について</dt>
        <dd>ご注文の際、カートの「ご注文内容と代金のご確認」で、ポイントの利用を指定してください。 ポイントは１ポイントから無制限にご利用になれますが、ご注文代金（送料・消費税を含む）を限度とします。<br>現金での払戻しはいたしません。たまったポイントは、次回以降のお買い物に利用できます。 ポイントを利用したご注文をキャンセルした場合は、利用したポイントはお客様に戻りますので、ご安心ください。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>ポイントの利用方法について</dt>
        <dd>ご注文の際、カートの「ご注文内容と代金のご確認」で、クーポンコードを指定してください。 ※クーポンを指定せずにご注文をした場合、お手続きが完了後にクーポンの特典を適用することはできません。<br><span>対象画面部位のハードコピーを貼る</span></dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor03">
    <h2>③ 領収書について</h2>
    <p>領収書の発行については、ショップによって対応が異なります。 そのため、領収書の発行可否および発行の申請方法についてご不明な点がございましたら、 ご利用のショップの「特定商取引法に基づく表記」を確認頂くかショップへお問い合わせください。 なお、ショップによって領収書が発行できない場合もございます。</p>
    </div>
</section>
{% endblock %}