{% extends 'default_frame.twig' %}
{% block title %}<h1>会員登録について</h1>{% endblock %}
{% block main %}
<section class="guide__child__cont">
    <ul class="anchor-nav">
    <li><a href="#anchorr01">① 会員登録</a></li>
    <li><a href="#anchorr02">② 会員情報編集</a></li>
    <li><a href="#anchorr03">③ ポイントについて</a></li>
    <li><a href="#anchorr04">④ パスワードを忘れてしまった場合</a></li>
    <li><a href="#anchorr05">⑤ 退会手続き</a></li>
    </ul>
    <div class="anchor-item" id="anchor01">
    <h2>① 会員登録</h2>
    <dl>
        <dt>新規会員登録</dt>
        <dd>ＴＯＰページヘッダー部の新規会員登録をクリック。 「必須」となっている項目をすべてご記入いただき、「同意する」を押してください。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>新規会員登録（確認）</dt>
        <dd>実際に登録される前に、入力内容の確認画面で入力内容に間違いがないかご確認し、「会員登録する」を押してください。 入力されたメールアドレスに会員登録確認メールが届きます。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>会員登録完了</dt>
        <dd>確認メールの会員登録完了用ＵＲＬをクリックします。<br><span>対象画面部位のハードコピーを貼る</span></dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor02">
    <h2>② 会員情報編集</h2>
    <dl>
        <dt>会員情報編集</dt>
        <dd>マイページから「会員情報編集」タグを選択して登録内容を編集します。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>会員情報編集完了</dt>
        <dd>内容を編集後、「登録する」ボタンをクリックして編集を完了します。<br><span>対象画面部位のハードコピーを貼る</span></dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor03">
    <h2>③ ポイントについて</h2>
    <dl>
        <dt>ポイントの発行</dt>
        <dd>買い物の購入金額に対してポイントが付きます。<br>購入金額1,000円以上に対して1％のポイントが加算させれます。<br>１回の購入合計金額1,000円未満はポイント付与されません。<br>※送料は購入金額に含まれません<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>ポイントの確認</dt>
        <dd>マイページからポイントを確認できます。<br><span>対象画面部位のハードコピーを貼る</span></dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor04">
    <h2>④ パスワードを忘れてしまった場合</h2>
    <dl>
        <dt>パスワードの再発行</dt>
        <dd>ＴＯＰページヘッダー部のログインをクリック<br>登録時のメールアドレスを入力して「次へ」ボタンを押します。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>メール送信</dt>
        <dd>パスワード変更メールが届きます。<br>送付されたＵＲＬに従って新しいパスワードを設定します。<br><span>対象画面部位のハードコピーを貼る</span></dd>
        <dt>ログイン</dt>
        <dd>ログイン画面からメールアドレスとパスワードを入力してお買い物を開始してください。<br><span>対象画面部位のハードコピーを貼る</span></dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor05">
    <h2>⑤ 退会手続き</h2>
    <p>マイページから画面から退会手続きタグを選択します。 画面の説明に従って退会処理を進めてください。 ※退会手続きが完了した時点で、現在保存されている購入履歴やお届け先等の情報は、すべて削除されますのでご注意ください。<br><span>対象画面部位のハードコピーを貼る</span></p>
    </div>
</section>
{% endblock %}