{% extends 'default_frame.twig' %}
{% block title %}<h1>注文のキャンセル、返品、交換</h1>{% endblock %}
{% block main %}
<section class="guide__child__cont">
    <ul class="anchor-nav">
    <li><a href="#anchorr01">① 返品・交換</a></li>
    <li><a href="#anchorr02">② ご返金方法について</a></li>
    </ul>
    <div class="anchor-item" id="anchor01">
    <h2>① 返品・交換</h2>
    <dl>
        <dt>商品の返品・交換・キャンセル</dt>
        <dd>お客様のご都合による返品はお受けしていません。あらかじめご了承ください。<br>お届け商品がご注文内容と異なっていたり、欠陥があった場合、ショップの発送段階におけるミスや配送中の事故等により商品に不十分な点がありましたら、ショップへご連絡頂きショップの指示のもと返品手続きを行ってください。<br>ご注文・購入された商品の変更・キャンセルは、ショップのみが行える操作となります。<br>また、変更・キャンセルについての判断は、各ショップごとに異なります。<br>商品返品のお申し出は、商品到着日から7日以内にお願いいたします。<br>※返品・交換についても同様です。<br>※ショップへの連絡先、返品方法はショップページの「特定商取引法に基づく表記」でご確認ください。<br>※ジ・オールサポートデスクへお問い合わせいただいても、注文後の変更・キャンセル（返品・交換）は承れません。ご了承ください。</dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor02">
    <h2>② ご返金方法について</h2>
    <dl>
        <dt>【クレジットカードで支払った場合】</dt>
        <dd>クレジットカード会社への支払い額から返品手数料を差し引いた金額が自動で返金されます。 ※月をまたいだ場合は、返金が翌月になることがございます。</dd>
        <dt>【銀行振込みで支払った場合】</dt>
        <dd>ショップとの返品受付が完了しますと、お振込み口座情報登録の依頼メールをお客様宛にお送りいたします。<br>お送りしたメールに返金希望先の口座情報をご入力いただき、内容の確認が取れ次第、振込手数料を差し引いてご返金をさせていただきます。</dd>
    </dl>
    </div>
</section>
{% endblock %}