{% extends 'default_frame.twig' %}
{% block title %}<h1>支払方法について</h1>{% endblock %}
{% block main %}
<section class="guide__child__cont">
    <ul class="anchor-nav">
    <li><a href="#anchorr01">① 送料について</a></li>
    <li><a href="#anchorr02">② 商品のお届けについて</a></li>
    </ul>
    <div class="anchor-item" id="anchor01">
    <h2>① 送料について</h2>
    <dl>
        <dt>配送料金について</dt>
        <dd>送料の有無は各商品ページにてご確認ください。<br>商品は各ショップより配送します。そのため、ショップの所在地、お届け先のご住所により、送料が異なります。<br>詳細はご利用のショップの「特定商取引法に基づく表記」ページでご確認ください。<br>同じショップから複数の商品を１カ所のお届け先にお送りする場合は同梱します。<br>同じショップの商品でも普通便（常温便）、冷凍品、冷蔵品を一緒にご購入の場合は、別送扱いとなることがありますので、あらかじめご了承ください。</dd>
    </dl>
    </div>
    <div class="anchor-item" id="anchor02">
    <h2>② 商品のお届けについて</h2>
    <dl>
        <dt>商品発送のお知らせ</dt>
        <dd>商品の出荷準備が完了した段階で、出荷完了メールにて、商品の発送に関する以下の情報をお知らせします。
        <ul>
            <li>配達業者名</li>
            <li>発送日</li>
            <li>送付状番号(宅配便の場合）</li>
        </ul><br>商品の配送状況については、宅配便に限り、宅配業者ホームページでご確認いただけます。
        </dd>
    </dl>
    </div>
</section>
{% endblock %}